* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk';
    background-color: #F2F2F2;
    overflow: hidden;
}

.containerMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    padding-left: 20px;
}

main {
    text-align: center;
    padding-top: 50px;
    color: #3F3F3F;
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3F3F3F;
}

footer section {
    display: flex;
    flex-direction: row;
}

footer section > div {
    width: 33%;
    text-align: center;
    padding: 25px 0px;
}

footer p {
    padding-top: 20px;
}

footer p {
    text-decoration: none;
    color: #F2F2F2;
    color: #D7C6AB;
}